.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cont{
  margin: 10px;
  border-radius: 20px;
  background-color: #2daae0;
  padding: 20px;
}
.not{
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo_not{
  border-radius: 20px;
  height: 300px;
}
.H_not{
  color: white;
  font-size: 100px;
  padding-top: 20px;
}
.H2_not{
  padding: 0px 20px;
  color: white;
}
button{
  border: none;
  border-radius: 10px;
  height: 40px;
  vertical-align: middle;
  background-color: #2daae0;
  color: white;
  margin-top: 7px;
  font-size: 20px;
}
button:hover{
  background-color: white;
  color: #2daae0;
}